#TitleHolder{
    border-radius: 20px;
    padding: 20px;
    height: 70%;
    border: 3px solid white;
    width: 100%;
    min-width: 500px;
    min-height: 90px;
    max-width: 800px;
    background-image: url('/Resources/Stella_Maris_6.png');
    background-size: 100% 100%;
}
.Logo{
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    height: 28vh;
    width: 28vh;
    margin: 1vh;
    border-radius: 20px;
}

#SubTitle{
    font-size: var(--AverageFontSize);
}

#SubTitleHolder{
    grid-column: 2;
    grid-row: 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(115,156,176);
    border-radius: 20px;
}

.Header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-image: linear-gradient(rgb(42, 76, 115),transparent);
}