<div class="NavBar">
    <div class="Home NavBarItems">
        <a class="NavbarText" href="/index.html">Home</a>
    </div>
    <div class="Features NavBarItems">
        <a class="NavbarText" href="/Pages/Features/Features.html">Features</a>
    </div>
    <div class="Photos NavBarItems">
        <a class="NavbarText" href="/Pages/PhotosPage/Photos.html">Photos</a>
    </div>
    <div class="Tariffs NavBarItems">
        <a class="NavbarText" href="/Pages/Tariffs/Tariffs.html">Tariffs</a>
    </div>
    <div class="Booking NavBarItems">
        <a class="NavbarText" href="/Pages/Booking/Booking.html">Booking</a>
    </div>
    <div class="ContactDetails NavBarItems">
        <a class="NavbarText" href="/Pages/Contact Us/ContactUs.html">Contact Us</a>
    </div>
    <div class="Calendar NavBarItems">
        <a class="NavbarText" href="/Pages/Availability/Availability.html">Availability</a>
    </div>
    <div class="Special NavBarItems">
        <a class="NavbarText" href="/Pages/Specials/Specials.html">Specials</a>
    </div>
</div>